.container {
  width: 25vw;
  height: 20vh;
  border: 2px solid black;
  border-radius: 11px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  margin: 10px;
  &:hover {
    cursor: pointer;
  }
  .title {
    padding: 15px;
    width:16vw;
    font-size: 17px;
    font-weight: bold;
  }
  .image {
    min-width: 100px;
    width: 50%;
  }
}
